# Composer
/vendor/
/composer.phar

# Entornos
.env
.env.*.php

# IDEs y editores
/.idea/
/.vscode/
/*.sublime-workspace
/*.sublime-project

# Sistema
.DS_Store
Thumbs.db

# Logs y caches
/logs/
/cache/
/tmp/

# Otros binarios
*.exe
*.dll
*.so
*.dylib

# Node (si llegas a tener assets)
/node_modules/

/public/hot
/public/storage
/storage/*.key
